<%- include('partials/header'); -%>

<h1>Invite details</h1>

  <div class="row">
    <div class="col-md-6 m-auto">
      <h1>Invite to: <%- event.title %> </h1>
      <h1>Sender: <%- invite.sender %></h1>
      <p>Status: <%- invite.status %></p>
      <p>Message:  <%- invite.status %></p>
      <p>Date: <%- event.date %></p>
    </div>
  </div>

<%- include('partials/footer'); -%>
